target/
.cache/
.project
.project/
*.pic
*.pyc
*.log
*-FAILED.txt
*-UNKNOWN.txt
*-OK.txt
.pytest_cache/*
TEST-Consents_test_suite\.xml
TEST-Purge_test_suite\.xml
TEST-Events_integration\.xml
tavern/.pytest_cache/
soapui/var\.properties
tavern/var\.yaml
tavern/__pycache__
